@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap')

 .rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}

a{
    text-decoration: 0;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: ;
    border-radius: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}
header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 90px;
    height: 70px;
}

header .logo h1 {
    font-size: 30px;
    color: black;
}

.menu {
    font-family: "Rajdhani", sans-serif;
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
.menu li {
    margin-left: 50px;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.menu li a {
    color: black;
    transition: 0.5s;
}
.menu li a:hover {
    color: #D92332;
    font-size: 15px;
}
.menu li:hover::after {
    content: "";
    position: absolute;
    height: 30px;
    z-index: -1;
    width: 30px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.number {
    font-size: 14px;
    color: #fff;
    padding: 10px 25px;
    background: linear-gradient(#D92332,#D9777F);
    border-radius: 60px;
}

/* home css */
#home {
    padding: 0 5%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 200px);
}
#home .left {
    width: 55%;
}
#home .right {
    width: 40%;
    height: 100%;
}
#home .right  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px (0,0,0,0.1);
}
#home .left h1 {
    font-size: 100px;
    color: ;
    font-weight: 600;
    padding: 0;
    margin-left: -8px;
    margin-bottom: -10px;
}
/*services*/
#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.list_services {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.service {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 20px;
}
.service i {
    font-size: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D92332;
    color: #f2f2f2;
    border-radius: 50%;
    margin-bottom: 10px;
}
.service h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.service p {
    font-size: 12px;
}
.service a {
    margin-top: 10px;
    color: #D92332;
    padding: 5px 20px;
    border: 1px solid #D92332;
    font-size: 12px;
}

/*voitures*/
.images{
    margin: 100px auto;
    padding: 0 8%;
}
.images ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.665%;
    transition: 0.5s;
    height: 300px;
    width: 28%;
}
.images li div {
    width: 100%;
    height: 60%;
}
.images li div img {
    height: 100%;
    width: 100%;
}
.images li span {
    color: black;
    font-size: 18px;
}

/*Contact Css*/
.form-image {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10%;
    margin-bottom: 10%;
}
.form-image form {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.form-image form input , textarea {
    margin: 10px 0;
    padding: 15px;
    border-radius: 30px;
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    resize: none;
    width: 100%;
}
.button-link {
    font-size: 14px;
    color: #fff;
    padding: 10px 25px;
    background: linear-gradient(#D92332,#D9777F);
    border-radius: 60px; 
}

/*footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

